* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infos{
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    font-size: 25px;
    font-weight: 800;
}

#points{
    display: flex;
    color: #4caf50;
}

.cards_total{
    display: flex;
    color: #03a9f4;
}

.board{
    margin: auto;
    max-width: 700px;
    display: grid;
    gap: 20px;
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
}

.card{
    position: relative;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    transition: transform 500ms;
    
}

.card_back, .card_front{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgb(171 171 171);
    backface-visibility: hidden; /*conteudo atrás invisivel*/
}

.card_front{
    background-color: #171c1c;
    transform: rotateY(180deg);
}

.card_back{
    background-color: #03a9f4;
    color:black;
    font-size: 40px;
    transition: all 500ms linear;
    cursor: pointer;
}

.card_back:hover{
    background-color: #1a6283;
    color:white;
    font-size: 60px;
}

.flip{
    transform: rotateY(180deg);
}

#endGame{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.205);
    color: white;
    font-size: 30px;
}

#reset{
    padding: 15px;
    margin: 10px;
    font-size: 20px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 500ms linear;
}

#reset:hover{
    padding: 20px;
    background-color: white;
    color: tomato;
}